<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Notification Management Test Suite" parallel="false">
    <test name="Notification Management Tests" preserve-order="true">
        <classes>
            <class name="io.entgra.device.mgt.core.notification.mgt.core.common.BaseNotificationManagementTest"/>
            <class name="io.entgra.device.mgt.core.notification.mgt.core.impl.NotificationManagementServiceImplTest"/>
            <class name="io.entgra.device.mgt.core.notification.mgt.core.impl.NotificationConfigServiceImplTest"/>
            <class name="io.entgra.device.mgt.core.notification.mgt.core.impl.NotificationArchivalServiceImplTest"/>
        </classes>
    </test>
</suite> 